:root{
  --main-color:#b08ead;
  --second-color:#5f4d5d;
  --backgrond:#ceb3cb;
  --margin-topbotton:50px;
  
  
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
a{
  text-decoration: none;
}
body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
