@font-face {
  font-family: "normal";
  src: local("CormorantGaramond"),
   url(../font/CormorantGaramond-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "SemiBold";
  src: local("CormorantGaramond"),
   url(../font/CormorantGaramond-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Regular";
  src: local("CormorantGaramond"),
   url(../font/CormorantGaramond-Regular.ttf) format("truetype");
}
*{
 
}